.campaign-abstract {
    margin-left: 5px;
}

.campaign-box {
    margin-bottom: 40px;
}

.welcome {
  padding-bottom: 0;
  padding-top: 50px;
}

.welcome-banner {
  padding-top: 30px;
}

#photo_banner {
  margin-top: 3em;
}

.navbar-spacer {
    padding-top: 4em;
}

#navbar-border {
    border-width: 0;
}

.jumbotron-title {
  margin-top:80px;
  text-align: center;
}

#slick-container {
  width:85%;
  margin-left: auto;
  margin-right: auto;
}

#petition_body, #donation_body {
  text-align: justify;
}

.donation-next-btn-header,
.donation-submit-header {
  font-family: Open Sans !important;
}

.donation-next-btn {
  background-color: #00ABBD !important;
}

.donation-header {
  color: #00ABBD !important;
}

.donation-progress-banner {
  background-color: #DD4814 !important;
}

#donation-banner {
  background-image: url("../img/donations/rainforest.jpg");
  color: white;
}

.text-body {
  display: block;
  margin-top, margin-bottom: 50px;
}

#donation-container {
  display: block;
  margin-bottom: 20px;
}

#error {
   margin-top: 200px;
   background-color: white;
}

#error * {
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

#validation-error {
  font-size: 0.9em;
  color: red;
  font-style: italic;
  min-width: 250px;
}

#logo-navbar {
  margin: 0 20px 0 0;
  padding: 3px 12px;
  background-color: white;
}

.btn {
  border-radius: 0;
}